<% provide(:page_title, "Изменение #{@movie.title}") %>
<% provide(:movie_active, 'active') %>

<div class="actions">
  <%= link_to 'Вернуться к описанию фильма', @movie, class: "btn btn-outline-info" %>
</div>

<%= render 'form', movie: @movie %>
