<% provide(:page_title, 'About') %>

<h1>About</h1>
<h5>Здесь находится очень крутая «About page», но, к сожалению, не сейчас.</h4>

<p>Но если вы действительно хотите полюбоваться на что-то этакое, то можно посмотреть, к примеру, этот <%= link_to "cайт", "http://bestaboutpages.com/", data: { confirm: "Но ведь этот сайт тоже неплох?.." } %>.
</p>
