<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="btn btn-default" type="button" id="dropdownMenu1"  data-toggle="dropdown" aria-haspopup="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button type="submit" class="btn btn-default navbar-btn"><%= link_to 'New', new_movie_path %></button>
  <a class='navbar-brand' href='/'>
    Movie<span class='light'>app</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="nav-item">
        <%= link_to 'Movies', root_path, class: "nav-link #{yield(:movie_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>
  </ul>
</nav>
